{% extends 'base.html' %}

{% block content %} 

<div class="cordefundo">

<body>
    <div class= "d-flex justify-content-center">
    <h1 class='titulo'>Sorveteria SENAC-PE</h1>
    </div>
    <div class= "d-flex justify-content-center">
           <form method="post">
        {% csrf_token %}
    <div class="tamanhofonte"> 
    
 
        {{ form.as_p }}
    </div>
    
        <input type ="submit" value = "Enviar pedido">
        </form>
</div>
    <div class= "d-flex justify-content-center">

         <a class="btn btn-light" href = "\lista" role="botton"> Clica aqui!</a>

    </div>
        </div>
            </div>
</body>
    <div class= "d-flex justify-content-center">
    <label for="teste" placeholder="teste"></label>
    <input type="text" name="nome" id="nome">
</div>
</div>
</div>
{% endblock %}

