/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globais */
body {
    font-family: Arial, sans-serif;
    height: 40px;
    color: #333;
    
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.hero {
    text-align: center;
    padding: 4rem 0;
    background-color: #f8f8f8;
}

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    .hero h2 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }
}


.titulo {
    font-size: 4.0rem; /* Tamanho da fonte */
    color: #070708; /* Cor do texto */
    margin-bottom: 1rem; /* Espaçamento na parte inferior do h1 */
    /* Você pode adicionar mais estilos aqui, como font-family, texto em negrito, etc. */
}

.cordefundo {
    background-color: rgb(136, 23, 173);


}
  
.tamanhofonte {
    font-size: 30px;
    font-weight: 1000;
}

footer {
    text-align: center;
    background-color: rgb(97, 6, 100);
    color:#f8f8f8
}



